.tmp/
.venv/
.env
credentials.json
token.json
__pycache__/
*.pyc
*.db
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db
.vscode/
.idea/
.log
*.csv
*.json
*.pdf
*.docx
*.txt
inputs/

!requirements.txt
!README.txt
!README.md
!license.txt